.staff-payroll {
    height: 100vh;
    background-color: #003353;
    overflow: hidden;
  }
  .staff-payroll-container{
    margin: 50px 0 0 70px;
    border-top-left-radius: 15px;
    background: linear-gradient(to right, #ffffff, #edf3f7) !important;
    overflow: hidden;
    height: 93%;
    padding: 16px;
    position: relative;
  }
.srch-bar-container {
    display: flex;
}
/* .srch-bar-container{
    height: 36px;

} */
.srch-bar{
    margin-right: 10px;
    width: 100% !important;
    border-radius: 8px !important;
    border: 1.8px solid #003353;
    padding-left: 16px;
    font-size: 1rem;
}