.category-content{
    margin-top: 28px;
}
.category-heading{
  font-size: 1.3rem;
}
.grid-container {
  margin: 24px 0px;
  width: 98.25%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px; /* Adjust the gap between items as needed */
}

.grid-item {

  position: relative;
  background-color: #ffffff; /* Adjust the background color as needed */
  padding: 20px; /* Adjust the padding as needed */
  text-align: center;
  border-radius: 10px; /* Add border radius */
  aspect-ratio: 1 / 1; /* Ensure equal height and width */
}

.grid-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ensure the image covers the grid item */
    border-radius: 10px; /* Match the border radius of the grid item */
  }

  .grid-item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 80%;
  }
  
  .grid-item:hover span {
    opacity: 1;
  }
