.school-registration-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #45a049;
}

/**/
.custom-input {
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #AEAEAE;
    font-size: 14px;
    background: none;
    color: #fff;
  }
.custom-input::placeholder {
    color: #AEAEAE; /* Placeholder color */
    opacity: 1; /* Ensure the placeholder is fully visible */
  }
.reg-lgn-btn{
    background-color: #fff;
    border-radius: 12px;
    padding : 12px;
    color: #444781;
    font-weight: 600;
    font-size: 14px;
}