.lp-header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    background-color: #fff;
    width: 60%;
    height: 16px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.lp-header-logo-container {
    display: flex;
    align-items: center;
}
.lp-header-logo {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    background-image: url('../../../images/logo.png'); /* Replace with your logo image path */
    background-size: cover;
    background-position: center;
    margin-right: 10px; /* Space between logo and text */
}
.lp-header-logo-text {
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold;
}
.lp-header-demo-button{
    padding: 12px 32px;
    border-radius: 60px;
    color: #fff;
    background-color: #1F309B;
}

.lp-header-button {
    border: none;
    background: none;
    color: #1F309B;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background 0.3s ease;
}

.lp-header-button:hover {
    background: rgba(31, 48, 155, 0.1); /* Light blue overlay */
}