.sidebar-drawer{
  z-index: 999;
}
.sidebar {
    padding: 1%;
    background-color: #003353 !important;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 50px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 3px 0 12px rgba(0, 0, 0, 0.1); 
    /* transition: width 0.3s ease-in-out; */
  }
  
  .sidebar:hover {
    background-color: #003353;
    width: 230px !important;
  }
  
  .sidebar .list-item-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .sidebar:hover .list-item-text {
    opacity: 1;
    visibility: visible;
  }
  
  .sidebar_d {
    padding: 1%;
    width: 54px !important;
    background-color: none !important;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 50px;
    overflow-y: auto;
    border-right: 1px solid hsla(220, 20%, 80%, 0.4);
    z-index: 1000;
    transition: width 0.3s ease-in-out;
    display: flex;
    flex-direction: column; /* Changed from row to column */
    justify-content: flex-start; /* Changed from center to flex-start */
  }
  
  .sidebar_d .list-item {
    display: flex;
    justify-content: center;
  }
  
  .list-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    border-radius: 50px;
    padding: 4px 4px !important;
  }
  
  .list-item:hover {
    background-color: #0E5E9D50;
  }
  
  .selected-list-item {
    background-color: #DFECEF;
  }
  .sidebar:hover .selected-list-item .list-item-text {
    color: #0E5E9D !important; /* Ensure text color change */
  }
  
  .selected-list-item .icons {
    background-color: #0E5E9D; /* Add the desired background color */
    color: #DFECEF; /* Change the icon color if needed */
  }
  
  .list-item-text {
    margin-left: 10px;
    /* font-size: 14px !important; */
    color: #DFECEF;
    /* display: none; */
  }
  .list-item:hover .list-item-text {
    display: inline-block;
    margin-left: 16px;
  }
  
  .icons {
    color: #0E5E9D;
    background-color: #DFECEF; /* Add background color for icon */
    border-radius: 50%; /* Optional: make the background color circular */
    padding: 4px;
  }
  
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    /* Your styles for large devices */
    .sidebar {
      height: 100vh;
      width: 36vh !important;
      top: 40px;
    }
    .sidebar_d {
      width: 36px !important;
      top: 40px;
    }
    .list-item {
      padding: 2px 8px !important;
    }
    .list-item-text {
      margin-left: 16px;
      /* font-size: 14px !important; */
    }
  }