#card {
  position: relative;
  width: 73.5%;
height: 40vh; /* Set a maximum height for the card */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 0 10px;
  border: 1px solid hsla(220, 20%, 80%, 0.4); /* Optional: Add a border for better visual separation */
  border-radius: 12px; 
  margin-bottom: 30px;
  background-color: #fff;

}
/* Events.css */

#items{
  margin-top: 50px;
}


.news-section {
  position: fixed;
  white-space: nowrap;
  overflow: hidden;
  background-color: #f8d7da;
  color: #721c24;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 12px;
  width: 910px;
  z-index: 1;
  height: 40px; /* Increase the height */
}

.news-label {
  background-color: #721c24;
  color: rgb(255, 255, 255);
  padding: 0 12px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  z-index: 1000;
  height: 40px; /* Match the height of news-section */
  line-height: 40px; /* Center text vertically */
}

.news-text {
  display: inline-block;
  animation: scroll-left 100s linear infinite;
  padding-left: 300px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.news-section::-webkit-scrollbar {
  height: 8px;
}

.news-section::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px; 
}

.news-section::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media(max-width: 1024px){
  #card {
    width: 94%;
    margin-bottom: 0px;
    height: 20vh;
  }
  .news-section {
    width: 970px; 
    padding: 0px;
    
  }
  .news-label {
    font-size: 12px;
  }
  .news-text {
    font-size: 12px;
  }
  #items{
    margin-top: 40px;
  }
}