.products-container {
    width: 100%; /* Fixed width */
    height: 60vh; /* Fixed height */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    gap: 20px; /* Space between columns */
    border: 1px solid #ccc;
    position: relative; /* Add this line */
}

.product-info {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center; /* Center text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px; /* Fixed height */
}

.product-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 120px;
    margin-left: 200px;
}

.product-image {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the image */
}

.product-image img {
    max-width: 180px; /* Ensure the image fits within its container */
    height: auto;
    animation: slideInFromTop 1s ease-out;
}

.buy-button {
    position: absolute; /* Add this line */
    bottom: 20%; /* Adjust as needed */
    left: 30%; /* Adjust as needed */
    height: 40px;
    width: 120px;
    padding: 10px 20px;
    border: 1px solid #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #0056b3;
}

.nav-button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    z-index: 1;
}

.nav-button.left {
    left: 10px;
}

.nav-button.right {
    right: 10px;
}

.nav-button:focus {
    outline: none;
}