
.dashboardStyle {
  background: linear-gradient(to top, #ffffff, #edeeef) !important; /* Gradient from light pink to a lighter shade */
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

.boxes{
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1); /* Add box shadow to the right side */
}

.custom-slider .slick-dots {
  top: auto;
  bottom: 10px;
}