.appBar {
  position: relative;
}

.formContainer {
  overflow: visible; /* Ensure the container grows based on its content */
  max-height: none; /* Remove the maximum height restriction */
  height: auto; /* Ensure the height adjusts automatically */
}

.enroll-form {
  overflow-x: hidden;
  overflow-y: hidden; 
  display: flex; 
  background-size: cover;
  height: 100vh;
  background-color: #003353;
} 

.enroll-form-container {
  background: linear-gradient(to right, #ffffff, #edf3f7) !important;
  overflow: hidden !important;
  margin: 50px 0;
  border-top-left-radius: 15px;
  transition: margin-left 0.3s ease-in-out;
  flex-grow: 1;
  margin-left: 70px;
  height: 100vh;
  
}
.form-paper-container{
  max-height: calc(100vh - 60px); 
  overflow: auto;

}

.paper {
  width: 80% ;
  max-width: 1000px; /* Max width of the form */
  margin: 40px auto; /* theme.spacing(3) */
  padding: 16px; /* theme.spacing(2) */
  overflow: auto; /* Allow scrolling within the form */

}
.headline{
  font-size: 2rem !important;
  font-family: 'Urbanist', sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.stepper .MuiStepLabel-label {
  white-space: pre-line;
}

.stepper {
  padding: 24px 0 40px; /* theme.spacing(3, 0, 5) */
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-top: 24px; /* theme.spacing(3) */
  margin-left: 8px; /* theme.spacing(1) */
  background-color: #ff8040; /* Change button color */
  color: white; /* Change text color */
}

.button:hover {
  background-color: #faaa72; /* Change button color on hover */
}

  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    /* Your styles for large devices */
    .layout{
      width: 90%;
      left: 10vh;
    }
  }