.appBar {
  position: relative;
}
.enroll-form {
  overflow-x: hidden;
  overflow-y: hidden; 
  display: flex; 
  background-size: cover;
  height: 100vh;
  background-color: #003353;
} 

.enroll-form-container {
  background: linear-gradient(to right, #ffffff, #edf3f7) !important;
  overflow: hidden !important;
  margin: 50px 0;
  border-top-left-radius: 15px;
  transition: margin-left 0.3s ease-in-out;
  flex-grow: 1;
  margin-left: 70px;
  
}

.form-paper-container{
  max-height: calc(100vh - 60px); 
  overflow: auto;

}

.paper {
  width: 80% ;
  max-width: 1000px; /* Max width of the form */
  margin: 40px auto; /* theme.spacing(3) */
  padding: 16px; /* theme.spacing(2) */
  overflow: auto; /* Allow scrolling within the form */

}
.staff-enroll-title {
  font-size: 2rem !important;
  font-family: 'Urbanist', sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: normal !important;
}
.stepperContainer {
  margin-top: 24px; /* theme.spacing(3) */
  margin-bottom: 16px; /* theme.spacing(2) */
}

.stepper {
  padding: 24px 0 40px; /* theme.spacing(3, 0, 5) */
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin: 32px 0 0 ;
  gap: 16px;

}

.button {
  background-color: #ff8040;
  color: white;
}

.button:hover {
  background-color: #faaa72;
}

.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}