.section-allocation-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
    margin-top: 16px;
    border: 1px solid #ccc ;
    border-radius: 16px;
    padding: 16px;

}

.section-allocation-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.select-class {
  margin-right: auto;
  width: 16%;
}

.auto-allocate-button {
  margin-left: auto;
  background-color: black !important;
  color: white !important;
  border-radius: 16px !important;
  width: 14%;
  height: 48px;
}

.sticky-header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}

.scrollable-table::-webkit-scrollbar {
    width: 8px; /* Decrease the width of the scrollbar */
}

.scrollable-table::-webkit-scrollbar-thumb {
    background-color: #003353c8; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.scrollable-table::-webkit-scrollbar-thumb:hover {
    background-color: #003353; /* Color of the scrollbar thumb on hover */
}

.sticky-header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}

.scrollable-table .MuiTableRow-root:hover {
    background-color: #f5f5f5;
}

.dialog-cancel-button{
  background-color: none !important;
  color: #003353 !important;
  border: 1px solid #003353 !important;
  border-radius: 12px !important;
  margin-right: 6px !important;
  padding: 6px 20px !important;
  font-weight: 600 !important;

}
.dialog-cancel-button:hover{
  background-color: #003353 !important;
  color: white !important;
}
.dialog-submit-button{
  background-color: #003353 !important;
  color: #fff !important;
  border: 1px solid #003353 !important;
  border-radius: 12px !important;
  transition: ease-in-out 0.3s;
  padding: 6px 20px !important;
  font-weight: 600 !important;

}
.dialog-submit-button:hover{
  background-color: #fff !important;
  color: #003353 !important;
}
.dialog-actions{
  display: flex;
  justify-content: space-between;
  margin-right: 12px;
  margin-bottom: 12px;


}