.en-urbanist-regular {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.en-urbanist-regular::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: white;
  transition: width 0.3s ease;
}

.en-urbanist-regular:hover::after {
  width: 100%;
  left: 0;
  background: white;
}

.nav-heading {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
}

.ecommerce-navbar {
  background: #edeeef !important; /* Gradient from light pink to a lighter shade */
    width: 100%; /* Decrease the width */
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    height: 86px; /* Adjust height as needed */
    position: fixed;
    top: 0;
    z-index: 1000;

}

.toolbar {
    background-color: #ffffff84 !important;
    width: 80%; /* Decrease the width */
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    padding: 6px 32px;
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    border-radius: 120px;
}

.search {
  position: relative;
  border-radius: 50px !important;
  background-color: var(--theme-palette-common-white);
  margin-left: 20px;
  width: 100%;
  max-width: 500px;
  border-radius: 6px;
  padding: 3px 15px;
}

.search:hover {
  background-color: var(--theme-palette-common-white);
}

.searchIconWrapper {
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  position: relative;
  right: 8px !important; /* Adjusted to position the search icon */
 border-radius: 20px !important;
  bottom: 5px !important; /* Adjusted to position the search icon */
}

.styledInputBase {
  color: inherit;
}

.styledInputBase .MuiInputBase-input {
  padding: var(--theme-spacing-1-1-1-0);
  transition: var(--theme-transitions-create-width);
  width: 100%;
  color: black;
}

@media (min-width: 960px) {
  .styledInputBase .MuiInputBase-input {
    width: 100%;
  }
}