.en-urbanist-regular {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.en-urbanist-regular::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: white;
  transition: width 0.3s ease;
}

.en-urbanist-regular:hover::after {
  width: 100%;
  left: 0;
  background: white;
}

.nav-heading{
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
}

.ecommerce-navbar {
    background-color: #2b2d42 !important;
    width: 100%; /* Decrease the width */
    /* margin: 0 auto; Center the navbar */
    display: flex;
    justify-content: center;
    padding: 4px ;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1); /* Add box shadow to the right side */
    position: fixed;
    top: 0;
    z-index: 1;
}

.toolbar {
    width: 100%;
    max-width: 1300px; /* Adjust this value as needed */
    display: flex;
    align-items: center;
}

.search {
  position: relative;
  border-radius: var(--theme-shape-border-radius);
  background-color: var(--theme-palette-common-white);
  margin-right: var(--theme-spacing-2);
  margin-left: 0;
  width: 100%;
  border-radius: 6px;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.8);
}

.search:hover {
  background-color: var(--theme-palette-common-white);
}

.searchIconWrapper {
  padding: var(--theme-spacing-0-2);
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Add this line */
  z-index: 1000;
  margin-left: -40px;
}


@media (min-width: 600px) {
  .search {
    margin-left: var(--theme-spacing-3);
    width: auto;
  }
}

.searchIconWrapper {
  padding: var(--theme-spacing-0-2);
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styledInputBase {
  color: inherit;
}

.styledInputBase .MuiInputBase-input {
  padding: var(--theme-spacing-1-1-1-0);
  padding-left: calc(1em + var(--theme-spacing-4));
  transition: var(--theme-transitions-create-width);
  width: 100%;
  color: black;
}

@media (min-width: 960px) {
  .styledInputBase .MuiInputBase-input {
    width: 30ch;
  }
}