.slick-prev:before, .slick-next:before {
  color: black;
}

.slick-dots li button:before {
  color: black;
}

.slick-dots li.slick-active button:before {
  color: black;
}
.carousel-image {
 height: auto;
  object-fit: cover;
  margin: 0 auto ;
  border-radius: 20px;
}