/* subjectAllocation.css */
.subject-allocation-container {
    background: linear-gradient(to right, #ffffff, #edf3f7) !important; /* Gradient from light pink to a lighter shade */

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.subject-allocation-content {
  position: relative;
  display: flex;
  flex: 1;
}

.sa-content {
  flex: 1;
  padding: 20px;
  overflow: auto;
  border: 1px solid hsla(220, 20%, 80%, 1);
  /* box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);  */
  width: 75%;
  height: 80vh;
  border-radius: 12px;
  position: absolute;
  left: 44vh;
  top:72px;
}

.school-id-box {
  position: fixed;
  bottom: 20px;
  left: 10px;
  background-color: #ffffff;
  padding: 8px 6px;
  border-radius: 20px;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  color: #333;
  width: 200px;
  text-align: center;
  z-index: 1000;
  font-family: 'Roboto Mono', monospace !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
}
  

  .button-container {
    position: absolute;
  top: 20px;
  left: 20px;
    display: flex;
    gap: 16px;
  }
  
  .custom-select {
    background-color: #fff;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1); 
    padding: 6px;
    border-radius: 12px !important;
  }
  
  .custom-select .MuiSelect-select {
    padding: 6px;
  }
  
  .custom-select .MuiOutlinedInput-notchedOutline {
    border: 1px solid hsla(220, 20%, 80%, 0.4);
    border-radius: 12px !important;
  }
  
  .custom-select:hover .MuiOutlinedInput-notchedOutline {
    border-color: #888;
  }
  
  .custom-select .Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #555;
  }

 
  
  .custom-submit-button {
    background-color: #0E5E9D80 !important; /* Example background color */
    color: #000 !important; /* Example text color */
    border-radius: 12px !important; /* Example border radius */
    padding: 8px 24px !important; /* Example padding */
    font-size: 16px; /* Example font size */
    transition: background-color 0.3s; /* Example transition for hover effect */
  }
  
  .custom-submit-button:hover {
    color: #fff !important;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3); 
    background-color: #0c4a7b; /* Example hover background color */
  }

   /* Large devices (laptops/desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px) {
  .content{
    width: 69%;
    top: 60px;
    left: 42vh;
    border-radius: 8px;
  }
  .button-container{
    top: 16px;
    left: 16px;
    gap: 12px;
  }
  .teacher-list{
    width: 80%;
    height: 300px;
    border-radius: 8px;
    margin-top: 40px;
  }
  .custom-select{
    padding: 2px;
    font-size: 14px !important;
    border-radius: 8px !important;
  }
  .custom-select .MuiOutlinedInput-notchedOutline {
    border-radius: 8px !important;
  }
  .allotted-teachers-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 17%;
  }
  .custom-card{
    width: 155% !important;
    height: 38vh !important;
  }
  .grade{
    margin-bottom: -12px;
  }
  .grade-text{
    font-size: 1.6vw !important;
    font-weight: bold !important;
  }
  .subjects{
    margin-bottom: -4px;
  }
  .subjects-text{
    font-size:1.4vw !important;
  }
  .icons{
    font-size: 1.6vw !important;
  }
  .custom-submit-button{
    padding: 6px 16px !important;
    font-size: 14px !important;
    border-radius: 8px !important;
  }
  .school-id-box{
    bottom: 14px;
    left: 14px;
    width: 180px;
    padding: 10px 12px;
    font-size: 14px;
  }
}