
.dashboardStyle {
  background-color: rgb(242, 242, 242);
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

.boxes{
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1); /* Add box shadow to the right side */

}

.GridItem {
  background-color: #f0f0f0;
  height: 100%;
}

.GridItem2x2 {
  background-color: #d0d0d0;
  height: 100%;
}

.buy-btn{
  color: black !important;
  background-color: rgb(255, 242, 230) !important;
  border-radius: 20px !important;
}

.custom-slider .slick-dots {
  top: auto;
  bottom: 10px;
}