body, html {
  overflow-x: hidden;
  /* background-image: url('./img.jpg'); */
  background-size: cover;
  /* background-color: rgb(235, 235, 235); */
  background-color: #fcfcfc;
} 
.homepage {
  position: absolute;
  left: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  /* margin-left: 260px; */
}



.main-content {
    margin: 70px 0 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  width: 100%;
 
}


@media (max-width: 1024px) {
  .homepage {
    left: 25%;
    
     }
  .main-content {
    margin-top: 100px;

}  
  
}