.homepage {
  background: linear-gradient(to right, #ffffff, #edf3f7) !important;
  overflow: hidden;
  margin: 50px 0;
  border-top-left-radius: 15px;
  height: 93%;
  transition: margin-left 0.3s ease-in-out; /* Add transition for smooth movement */
  flex-grow: 1; /* Allow homepage to grow and fill the remaining space */
  margin-left: 80px; /* Initial margin */
}

.school-dashboard {
  overflow-x: hidden;
  overflow-y: hidden; 
  /* background-image: url('./img.jpg'); */
  /* height: 100vh; */

  background-size: cover;
  height: 100vh;
  /* background-color: rgb(235, 235, 235); */
  background-color: #003353;
} 
.sidebar {
  padding: 1%;
  background-color: none !important;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 50px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.1); 
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}



.attach-document-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.attach-document-container.show-form {
  transform: translateX(-13%);
  transition: transform 0.5s;
}
.card {
  margin: 10px;
  width: 300px;
  cursor: pointer;
  border-radius: 12px !important;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid hsla(220, 20%, 80%, 0.4);
}

.school-id-box {
  position: fixed;
  bottom: 20px;
  left: 10px;
  background-color: #ffffff;
  padding: 8px 6px;
  border-radius: 20px;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  color: #333;
  width: 200px;
  text-align: center;
  z-index: 1000;
  font-family: 'Roboto Mono', monospace !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
}