.school-dashboard {
  overflow-x: hidden;
  overflow-y: hidden; 
  /* background-image: url('./img.jpg'); */
  /* height: 100vh; */
  display: flex; 
  background-size: cover;
  height: 100vh;
  /* background-color: rgb(235, 235, 235); */
  background-color: #003353;
} 
.homepage {
  background: linear-gradient(to right, #ffffff, #edf3f7) !important;
  overflow: hidden;
  margin: 50px 0;
  border-top-left-radius: 15px;
  height: 93%;
  transition: margin-left 0.3s ease-in-out; /* Add transition for smooth movement */
  flex-grow: 1; /* Allow homepage to grow and fill the remaining space */
  margin-left: 80px; /* Initial margin */
}




.main-content {
    margin: 50px 0 20px 240px;
    position: relative;
    /* left: 20vh; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  /* padding: 20px; */
  width: 95%;
}

.cards-container {
  width: 45%;
}

.events-container {
  width: 45%;
}

.school-id-box {
  position: fixed;
  bottom: 20px;
  left: 10px;
  background-color: #ffffff;
  padding: 8px 6px;
  border-radius: 20px;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  color: #333;
  width: 200px;
  text-align: center;
  z-index: 1000;
  font-family: 'Roboto Mono', monospace !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
}

.academic-year-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 100vw;
  z-index: 1003;
}

 /* Large devices (laptops/desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px) {
  .main-content{
    left: 20vh;
  }
  .school-id-box{
    bottom: 14px;
    left: 14px;
    width: 180px;
    padding: 10px 12px;
    font-size: 14px;
  }
  
}
