.verify-title{
    font-size: 1.6rem !important;
    font-family: 'Urbanist', sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 700 !important;
    font-style: normal !important;
    padding-right: 50px;
}
.verify-form{
    margin-top: 20px !important;
}