.school-dashboard {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa00; /* Adjust the background color as needed */
}

.navbar-column {
    flex: 1;
    text-align: center;
}

.logo {
    text-align: left;
}

.school-name {
    text-align: left;
    margin-left: 20px; /* Adjust the gap as needed */
}

.register-teacher,
.register-student {
    text-align: right;
    margin-right: 20px; /* Adjust the gap as needed */
}

.bsd {
    background-color: #007bff; /* Adjust the button color as needed */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3; /* Adjust the hover color as needed */
}