.container {
    flex: 1;
    padding: 20px;
    overflow: auto;
    border: 1px solid hsla(220, 20%, 80%, 1);
    /* box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);  */
    width: 86.5%;
    height: 80vh;
    border-radius: 12px;
    position: absolute;
    left: 16vh;
    top:72px;
  }