.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, auto); /* 2 rows */
    justify-content: center; /* Distributes the cards evenly */
    align-items: center;
  }

.card {
    background: #fff;
    border: 1px solid hsla(220, 20%, 80%, 0.4);
    border-radius: 12px; 
    padding: 16px 0px;
    /* margin: 12px; */
    /* box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.1); */
    /* width: 180px; */
    height: 110px; 
    text-align: center;
    position: relative;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1); /* Add box shadow to the right side */

  }
  
  .card h2 {
    margin: 0 0 2px;
    font-size: 14px;
    border-bottom: 1px solid hsla(220, 20%, 80%, 0.4);
    padding-bottom: 2px;
    font-family: "Ramabhadra", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .card .count {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    width: 80%;
    position: absolute; /* Position the button group absolutely */
    bottom: 20px; /* Adjust the bottom position as needed */
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
  }
  
  #enroll-btn{
    background: none;
    border: 1px solid #0E5E9D;
    color: #0E5E9D ;
    font-family: "Ramabhadra", sans-serif;
    font-weight: 400;
    font-style: normal;
  
  }
  #enroll-btn:hover{
    background-color: #0E5E9D;
    color: #fff;
  }
  .card button {
    padding: 2px 20px;
    border: none;
    background: #0E5E9D;
    color: #fff;
    border-radius: 4px; 
    cursor: pointer;
    font-family: "Ramabhadra", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .card button:hover {
    background: none;
    color: #0E5E9D;
    border:1px solid #0E5E9D ;
  }
  

  /* @media (max-width: 1024px) {
    .card {
      padding: 12px;
    }
    .card h2 {
      font-size: 16px;
    }
    .card .count {
      font-size: 18px;
  
    }
  
    .card button {
      padding: 2px 16px;
    }
    
    
  } */

    /* Extra small devices (phones, less than 576px) */
  @media (max-width: 575.98px) {
    /* Your styles for extra small devices */
  }
  
  /* Small devices (tablets, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    /* Your styles for small devices */
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* Your styles for medium devices */
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    /* Your styles for large devices */
    .card{
      width: 220px !important;
      height: 96px;
      padding: 12px 0px;
    }
    .button-group {
      width: 80%;
      gap: 8px;
      bottom: 14px;
    } 
    .card .count{
      font-size: 16px;
    }
    .card button{
      padding: 2px 16px;
      font-size: 12px;
    }   
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media (min-width: 1200px) {
    /* Your styles for extra large devices */
  }
  
  /* Large screens (desktops) */
/* @media (max-width: 1440px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto); 
  }
} */

/* Medium screens (laptops) */
/* @media (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, auto); 
  }

  .card {
    padding: 12px;
  }

  .card h2 {
    font-size: 16px;
  }

  .card .count {
    font-size: 18px;
  }

  .card button {
    padding: 2px 16px;
  }
} */

/* Small screens (tablets) */
/* @media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(6, auto); 
  }

  .card {
    padding: 8px;
    height: auto;
  }

  .card h2 {
    font-size: 18px;
  }

  .card .count {
    font-size: 20px;
  }

  .card button {
    padding: 4px 12px;
  }
} */

/* Extra small screens (mobile) */
/* @media (max-width: 480px) {
  .cards-container {
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(6, auto); 
  }

  .card {
    padding: 4px;
    height: auto;
  }

  .card h2 {
    font-size: 16px;
  }

  .card .count {
    font-size: 18px;
  }

  .card button {
    padding: 2px 8px;
  }
} */
  